# Data Cleaning and create shape file for analysis

In [1]:
import pandas as pd
import geopandas as gpd
import maup
import time

maup.progress.enabled = True

## Import datasets

Import Population Data    
Source: https://redistrictingdatahub.org/dataset/north-carolina-block-pl-94171-2020-by-table/    
Downloaded on March 22, 2024

In [2]:
start_time = time.time()
# This census file has population, Hispanic and non-Hispanic details.
population_df = gpd.read_file("./nc_pl2020_b/nc_pl2020_p2_b.shp")
end_time = time.time()
print("The time to import nc_pl2020_p2_b.shp is:", (end_time-start_time)/60, "mins")

start_time = time.time()
# This census file has voting age population (VAP), Hispanic and non-Hispanic details.
vap_df = gpd.read_file("./nc_pl2020_b/nc_pl2020_p4_b.shp")
end_time = time.time()
print("The time to import nc_pl2020_p4_b.shp is:", (end_time-start_time)/60, "mins")

The time to import nc_pl2020_p2_b.shp is: 0.09887701272964478 mins
The time to import nc_pl2020_p4_b.shp is: 0.10115626653035482 mins

The data set below has 2020 election results by precinct    
Source: https://dataverse.harvard.edu/dataset.xhtml?persistentId=doi:10.7910/DVN/K7760H    
Downloaded on March 24, 2024

In [3]:
start_time = time.time()
election_df = gpd.read_file("./nc_vest_2020/nc_2020.shp")
end_time = time.time()
print("The time to import nc_2020.shp is:", (end_time-start_time)/60, "mins")

The time to import nc_2020.shp is: 0.0017814358075459798 mins

The data set below is a shapefile of the 2022 enacted map of congressional districts    
Source: https://redistrictingdatahub.org/dataset/2022-north-carolina-congressional-districts-approved-plan/    
Downloaded on March 22, 2024

In [4]:
start_time = time.time()
cong22_df = gpd.read_file("./nc_cong_adopted_2022/NC_SMmap2_Statewide.shp")
end_time = time.time()
print("The time to import NC_SMmap2_Statewide.shp is:", (end_time-start_time)/60, "mins")

The time to import NC_SMmap2_Statewide.shp is: 0.00013159910837809246 mins

The data set below is a shapefile of the 2023 enacted congressional districts    
Source:  https://www.ncleg.gov/redistricting     
Downloaded on April 7, 2024

In [5]:
start_time = time.time()
cong23_df = gpd.read_file("./nc_cong_2023/SL 2023-145.shp")
end_time = time.time()
print("The time to import SL 2023-145.shp is:", (end_time-start_time)/60, "mins")

The time to import SL 2023-145.shp is: 0.00037755568822224933 mins

## Analyze content of each dataset and fix them if needed

In [6]:
population_df

,GEOID20,SUMLEV,LOGRECNO,GEOID,COUNTY,P0020001,P0020002,P0020003,P0020004,P0020005,...,P0020065,P0020066,P0020067,P0020068,P0020069,P0020070,P0020071,P0020072,P0020073,geometry
0,370210007001027,750,0126733,7500000US370210007001027,021,63,5,58,46,28,...,0,0,0,0,0,0,0,0,0,"POLYGON ((-82.54851 35.59258, -82.54840 35.592..."
1,370210026031032,750,0129265,7500000US370210026031032,021,13,6,7,7,7,...,0,0,0,0,0,0,0,0,0,"POLYGON ((-82.76802 35.57942, -82.76787 35.579..."
2,370210026082009,750,0129535,7500000US370210026082009,021,82,5,77,72,71,...,0,0,0,0,0,0,0,0,0,"POLYGON ((-82.66439 35.62244, -82.66435 35.622..."
3,370210005003000,750,0126605,7500000US370210005003000,021,16,3,13,13,13,...,0,0,0,0,0,0,0,0,0,"POLYGON ((-82.55178 35.62976, -82.55154 35.629..."
4,370210028043012,750,0130033,7500000US370210028043012,021,8,2,6,3,3,...,0,0,0,0,0,0,0,0,0,"POLYGON ((-82.55485 35.71949, -82.55385 35.720..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
236633,370710329004013,750,0195043,7500000US370710329004013,071,17,2,15,14,14,...,0,0,0,0,0,0,0,0,0,"POLYGON ((-81.19271 35.24799, -81.19127 35.248..."
236634,370710325091015,750,0194591,7500000US370710325091015,071,198,0,198,195,174,...,0,0,0,0,0,0,0,0,0,"POLYGON ((-81.10722 35.21062, -81.10711 35.210..."
236635,370419301021041,750,0152542,7500000US370419301021041,041,36,2,34,31,23,...,0,0,0,0,0,0,0,0,0,"POLYGON ((-76.58378 36.01850, -76.58367 36.018..."
236636,371419204032004,750,0276129,7500000US371419204032004,141,7,0,7,5,0,...,0,0,0,0,0,0,0,0,0,"POLYGON ((-77.91598 34.56311, -77.91400 34.565..."
236637,371419201043022,750,0275196,7500000US371419201043022,141,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,"POLYGON ((-77.56472 34.43132, -77.56409 34.431..."

In [7]:
vap_df

,GEOID20,SUMLEV,LOGRECNO,GEOID,COUNTY,P0040001,P0040002,P0040003,P0040004,P0040005,...,P0040065,P0040066,P0040067,P0040068,P0040069,P0040070,P0040071,P0040072,P0040073,geometry
0,370210007001027,750,0126733,7500000US370210007001027,021,48,4,44,34,24,...,0,0,0,0,0,0,0,0,0,"POLYGON ((-82.54851 35.59258, -82.54840 35.592..."
1,370210026031032,750,0129265,7500000US370210026031032,021,7,4,3,3,3,...,0,0,0,0,0,0,0,0,0,"POLYGON ((-82.76802 35.57942, -82.76787 35.579..."
2,370210026082009,750,0129535,7500000US370210026082009,021,68,5,63,59,59,...,0,0,0,0,0,0,0,0,0,"POLYGON ((-82.66439 35.62244, -82.66435 35.622..."
3,370210005003000,750,0126605,7500000US370210005003000,021,15,3,12,12,12,...,0,0,0,0,0,0,0,0,0,"POLYGON ((-82.55178 35.62976, -82.55154 35.629..."
4,370210028043012,750,0130033,7500000US370210028043012,021,6,0,6,3,3,...,0,0,0,0,0,0,0,0,0,"POLYGON ((-82.55485 35.71949, -82.55385 35.720..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
236633,370710329004013,750,0195043,7500000US370710329004013,071,17,2,15,14,14,...,0,0,0,0,0,0,0,0,0,"POLYGON ((-81.19271 35.24799, -81.19127 35.248..."
236634,370710325091015,750,0194591,7500000US370710325091015,071,163,0,163,160,139,...,0,0,0,0,0,0,0,0,0,"POLYGON ((-81.10722 35.21062, -81.10711 35.210..."
236635,370419301021041,750,0152542,7500000US370419301021041,041,32,0,32,29,23,...,0,0,0,0,0,0,0,0,0,"POLYGON ((-76.58378 36.01850, -76.58367 36.018..."
236636,371419204032004,750,0276129,7500000US371419204032004,141,4,0,4,2,0,...,0,0,0,0,0,0,0,0,0,"POLYGON ((-77.91598 34.56311, -77.91400 34.565..."
236637,371419201043022,750,0275196,7500000US371419201043022,141,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,"POLYGON ((-77.56472 34.43132, -77.56409 34.431..."

In [8]:
election_df

,PREC_ID,ENR_DESC,COUNTY_NAM,COUNTY_ID,G20PRERTRU,G20PREDBID,G20PRELJOR,G20PREGHAW,G20PRECBLA,G20PREOWRI,...,G20SACDSHI,G20SACRGOR,G20SACDCUB,G20SACRDIL,G20SACDSTY,G20SACRCAR,G20SACDYOU,G20SACRGRI,G20SACDBRO,geometry
0,01,PATTERSON,ALAMANCE,1,2299,566,27,6,5,4,...,566,2276,571,2296,548,2280,567,2274,568,"POLYGON ((1839239.963 762333.301, 1839240.297 ..."
1,02,COBLE,ALAMANCE,1,2387,559,15,4,4,3,...,558,2347,562,2367,534,2349,555,2359,543,"POLYGON ((1840088.847 807206.254, 1840090.437 ..."
2,07,ALBRIGHT,ALAMANCE,1,1996,581,20,9,1,4,...,578,1945,596,1977,570,1963,579,1954,585,"POLYGON ((1871943.040 801230.531, 1871943.510 ..."
3,H08,H08,GUILFORD,41,73,614,3,1,2,2,...,607,76,612,74,614,77,602,76,602,"POLYGON ((1702354.926 805008.445, 1702627.359 ..."
4,079,079,MECKLENBURG,60,469,1223,8,9,2,6,...,1212,452,1227,465,1209,454,1224,456,1220,"POLYGON ((1410451.445 548338.307, 1410462.273 ..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2657,01-07A,01-07A,WAKE,92,44,194,0,0,0,0,...,189,41,185,35,195,38,193,36,194,"MULTIPOLYGON (((2104589.500 741442.312, 210458..."
2658,07-03,07-03,WAKE,92,541,934,23,3,4,6,...,856,610,850,629,835,594,862,587,867,"POLYGON ((2094604.382 769152.656, 2094605.961 ..."
2659,07-07,07-07,WAKE,92,1225,2102,43,9,1,17,...,1911,1337,1939,1391,1898,1352,1915,1312,1958,"POLYGON ((2091925.301 772913.812, 2091828.426 ..."
2660,07-07A,07-07A,WAKE,92,182,335,1,1,0,2,...,279,191,279,212,265,193,270,185,278,"POLYGON ((2096537.911 775663.634, 2096510.875 ..."
2661,07-11,07-11,WAKE,92,416,655,11,2,8,9,...,603,443,618,473,591,457,603,449,605,"POLYGON ((2096401.913 772993.302, 2096485.108 ..."

In [9]:
cong22_df

,OBJECTID,District_A,Shape_Leng,Shape_Area,geometry
0,1,1,8.604113,2.192938,"POLYGON ((-76.91590 36.55215, -76.91555 36.552..."
1,2,2,2.291793,0.131161,"POLYGON ((-78.70273 36.07617, -78.70164 36.076..."
2,3,3,13.787605,2.928661,"POLYGON ((-75.79750 36.55092, -75.79051 36.500..."
3,4,4,3.876041,0.541862,"POLYGON ((-78.45625 36.54109, -78.45588 36.541..."
4,5,5,8.304280,1.184265,"POLYGON ((-81.61951 36.58729, -81.61856 36.587..."
5,6,6,3.756372,0.453029,"POLYGON ((-79.91061 36.54270, -79.91025 36.542..."
6,7,7,7.154692,1.418553,"POLYGON ((-78.72336 35.26548, -78.72301 35.265..."
7,8,8,6.129734,0.961893,"POLYGON ((-80.21187 36.02681, -80.21170 36.026..."
8,9,9,6.306343,0.945467,"POLYGON ((-80.04043 35.92042, -80.03894 35.920..."
9,10,10,5.371365,0.772889,"POLYGON ((-80.94711 36.05707, -80.94691 36.057..."
10,11,11,8.209277,1.601310,"POLYGON ((-82.34460 36.07110, -82.34437 36.070..."
11,12,12,2.027560,0.118205,"POLYGON ((-80.73713 35.50580, -80.73607 35.505..."
12,13,13,4.557561,0.475952,"POLYGON ((-78.25661 35.81397, -78.25686 35.813..."
13,14,14,2.599615,0.125985,"POLYGON ((-80.95458 35.39484, -80.95464 35.394..."

In [10]:
cong23_df

   DISTRICT  PL20AA_TOT                                           geometry
0         1      745670  POLYGON ((905355.004 281686.885, 901742.905 28...
1        10      745670  POLYGON ((395888.414 226383.013, 395922.249 22...
2        11      745670  POLYGON ((304252.990 165004.799, 304247.069 16...
3        12      745670  POLYGON ((447279.463 154364.037, 447275.406 15...
4        13      745670  POLYGON ((654887.670 269155.323, 654905.776 26...
5        14      745671  POLYGON ((445363.010 144546.673, 445363.880 14...
6         2      745670  POLYGON ((667905.007 230988.282, 668081.723 23...
7         3      745671  POLYGON ((905355.004 281686.885, 907792.822 27...
8         4      745671  POLYGON ((608690.668 226229.264, 608370.940 22...
9         5      745671  POLYGON ((356422.214 248959.425, 356425.913 24...
10        6      745671  POLYGON ((506669.938 278879.654, 506675.688 27...
11        7      745671  POLYGON ((690746.724 108164.428, 690757.715 10...
12        8      745671  POLYGON ((599592.486 64450.932, 599044.660 650...
13        9      745671  POLYGON ((531641.020 277879.208, 531653.177 27...

In [11]:
# Column names of each imported file
print("Column names of each imported file:\npopulation_df:")
print(population_df.columns)
print("vap_df:")
print(vap_df.columns)
print("election_df")
print(election_df.columns)
print("cong22_df:")
print(cong22_df.columns)
print("cong23_df:")
print(cong23_df.columns)

Column names of each imported file:
population_df:
Index(['GEOID20', 'SUMLEV', 'LOGRECNO', 'GEOID', 'COUNTY', 'P0020001',
       'P0020002', 'P0020003', 'P0020004', 'P0020005', 'P0020006', 'P0020007',
       'P0020008', 'P0020009', 'P0020010', 'P0020011', 'P0020012', 'P0020013',
       'P0020014', 'P0020015', 'P0020016', 'P0020017', 'P0020018', 'P0020019',
       'P0020020', 'P0020021', 'P0020022', 'P0020023', 'P0020024', 'P0020025',
       'P0020026', 'P0020027', 'P0020028', 'P0020029', 'P0020030', 'P0020031',
       'P0020032', 'P0020033', 'P0020034', 'P0020035', 'P0020036', 'P0020037',
       'P0020038', 'P0020039', 'P0020040', 'P0020041', 'P0020042', 'P0020043',
       'P0020044', 'P0020045', 'P0020046', 'P0020047', 'P0020048', 'P0020049',
       'P0020050', 'P0020051', 'P0020052', 'P0020053', 'P0020054', 'P0020055',
       'P0020056', 'P0020057', 'P0020058', 'P0020059', 'P0020060', 'P0020061',
       'P0020062', 'P0020063', 'P0020064', 'P0020065', 'P0020066', 'P0020067',
       'P0020068', 'P0020069', 'P0020070', 'P0020071', 'P0020072', 'P0020073',
       'geometry'],
      dtype='object')
vap_df:
Index(['GEOID20', 'SUMLEV', 'LOGRECNO', 'GEOID', 'COUNTY', 'P0040001',
       'P0040002', 'P0040003', 'P0040004', 'P0040005', 'P0040006', 'P0040007',
       'P0040008', 'P0040009', 'P0040010', 'P0040011', 'P0040012', 'P0040013',
       'P0040014', 'P0040015', 'P0040016', 'P0040017', 'P0040018', 'P0040019',
       'P0040020', 'P0040021', 'P0040022', 'P0040023', 'P0040024', 'P0040025',
       'P0040026', 'P0040027', 'P0040028', 'P0040029', 'P0040030', 'P0040031',
       'P0040032', 'P0040033', 'P0040034', 'P0040035', 'P0040036', 'P0040037',
       'P0040038', 'P0040039', 'P0040040', 'P0040041', 'P0040042', 'P0040043',
       'P0040044', 'P0040045', 'P0040046', 'P0040047', 'P0040048', 'P0040049',
       'P0040050', 'P0040051', 'P0040052', 'P0040053', 'P0040054', 'P0040055',
       'P0040056', 'P0040057', 'P0040058', 'P0040059', 'P0040060', 'P0040061',
       'P0040062', 'P0040063', 'P0040064', 'P0040065', 'P0040066', 'P0040067',
       'P0040068', 'P0040069', 'P0040070', 'P0040071', 'P0040072', 'P0040073',
       'geometry'],
      dtype='object')
election_df
Index(['PREC_ID', 'ENR_DESC', 'COUNTY_NAM', 'COUNTY_ID', 'G20PRERTRU',
       'G20PREDBID', 'G20PRELJOR', 'G20PREGHAW', 'G20PRECBLA', 'G20PREOWRI',
       'G20USSRTIL', 'G20USSDCUN', 'G20USSLBRA', 'G20USSCHAY', 'G20GOVRFOR',
       'G20GOVDCOO', 'G20GOVLDIF', 'G20GOVCPIS', 'G20LTGRROB', 'G20LTGDHOL',
       'G20ATGRONE', 'G20ATGDSTE', 'G20TRERFOL', 'G20TREDCHA', 'G20SOSRSYK',
       'G20SOSDMAR', 'G20AUDRSTR', 'G20AUDDWOO', 'G20AGRRTRO', 'G20AGRDWAD',
       'G20INSRCAU', 'G20INSDGOO', 'G20LABRDOB', 'G20LABDHOL', 'G20SPIRTRU',
       'G20SPIDMAN', 'G20SSCRNEW', 'G20SSCDBEA', 'G20SSCRBER', 'G20SSCDINM',
       'G20SSCRBAR', 'G20SSCDDAV', 'G20SACRWOO', 'G20SACDSHI', 'G20SACRGOR',
       'G20SACDCUB', 'G20SACRDIL', 'G20SACDSTY', 'G20SACRCAR', 'G20SACDYOU',
       'G20SACRGRI', 'G20SACDBRO', 'geometry'],
      dtype='object')
cong22_df:
Index(['OBJECTID', 'District_A', 'Shape_Leng', 'Shape_Area', 'geometry'], dtype='object')
cong23_df:
Index(['DISTRICT', 'PL20AA_TOT', 'geometry'], dtype='object')

In [12]:
maup.doctor(election_df)

100%|████████████████████████████| 2662/2662 [00:03<00:00, 731.96it/s]

There are 2 overlaps.
There are 3 holes.

False

In [13]:
election_df = maup.smart_repair(election_df)
maup.doctor(election_df)

/Users/weiqianru/anaconda3/envs/gerry/lib/python3.11/site-packages/maup/smart_repair.py:95: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  geometries_df["geometry"][i] = shapely.wkb.loads(
/Users/weiqianru/anaconda3/envs/gerry/lib/python3.11/site-packages/maup/smart_repair.py:125: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  geometries_df["geometry"][i] = make_valid(geometries_df["geometry"][i])
/Users/weiqianru/anaconda3/envs/gerry/lib/python3.11/site-packages/maup/smart_repair.py:149: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  geometries_df["geometry"][i] = make_valid(geometries_df["geometry"][i])

Snapping all geometries to a grid with precision 10^( -4 ) to avoid GEOS errors.

/Users/weiqianru/anaconda3/envs/gerry/lib/python3.11/site-packages/maup/smart_repair.py:372: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  pieces_df["polygon indices"][i] = set()

Identifying overlaps...

  0%|                                        | 0/2678 [00:00<?, ?it/s]/Users/weiqianru/anaconda3/envs/gerry/lib/python3.11/site-packages/maup/smart_repair.py:415: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  pieces_df["polygon indices"][i] = pieces_df["polygon indices"][i].union({j})
100%|███████████████████████████| 2678/2678 [00:00<00:00, 3597.54it/s]
/Users/weiqianru/anaconda3/envs/gerry/lib/python3.11/site-packages/maup/smart_repair.py:487: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  geometries_df["geometry"][this_poly_ind] = unary_union([geometries_df["geometry"][this_poly_ind], this_piece])
/Users/weiqianru/anaconda3/envs/gerry/lib/python3.11/site-packages/maup/smart_repair.py:496: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  geometries_df["num components orig"][ind] = num_components(geometries0_df["geometry"][ind])
/Users/weiqianru/anaconda3/envs/gerry/lib/python3.11/site-packages/maup/smart_repair.py:497: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  geometries_df["num components refined"][ind] = num_components(geometries_df["geometry"][ind])

Resolving overlaps...

/Users/weiqianru/anaconda3/envs/gerry/lib/python3.11/site-packages/maup/smart_repair.py:563: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  geometries_df["geometry"][poly_to_add_to] = unary_union(

Assigning order 2 pieces...
Filling gaps...

Gaps to simplify:   0%|                         | 0/3 [00:00<?, ?it/s]/Users/weiqianru/anaconda3/envs/gerry/lib/python3.11/site-packages/maup/smart_repair.py:1207: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  holes_df.geometry[h_ind] = orient(holes_df.geometry[h_ind])
/Users/weiqianru/anaconda3/envs/gerry/lib/python3.11/site-packages/maup/smart_repair.py:1594: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  geometries_df["geometry"][this_geom] = unary_union([geometries_df["geometry"][this_geom], piece_to_add])
/Users/weiqianru/anaconda3/envs/gerry/lib/python3.11/site-packages/maup/smart_repair.py:1594: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  geometries_df["geometry"][this_geom] = unary_union([geometries_df["geometry"][this_geom], piece_to_add])
/Users/weiqianru/anaconda3/envs/gerry/lib/python3.11/site-packages/maup/smart_repair.py:1594: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  geometries_df["geometry"][this_geom] = unary_union([geometries_df["geometry"][this_geom], piece_to_add])
Gaps to simplify:  33%|█████▋           | 1/3 [00:00<00:00,  6.24it/s]/Users/weiqianru/anaconda3/envs/gerry/lib/python3.11/site-packages/maup/smart_repair.py:1207: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  holes_df.geometry[h_ind] = orient(holes_df.geometry[h_ind])
/Users/weiqianru/anaconda3/envs/gerry/lib/python3.11/site-packages/maup/smart_repair.py:1594: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  geometries_df["geometry"][this_geom] = unary_union([geometries_df["geometry"][this_geom], piece_to_add])
/Users/weiqianru/anaconda3/envs/gerry/lib/python3.11/site-packages/maup/smart_repair.py:1594: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  geometries_df["geometry"][this_geom] = unary_union([geometries_df["geometry"][this_geom], piece_to_add])
Gaps to simplify:  67%|███████████▎     | 2/3 [00:00<00:00,  6.35it/s]/Users/weiqianru/anaconda3/envs/gerry/lib/python3.11/site-packages/maup/smart_repair.py:1207: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  holes_df.geometry[h_ind] = orient(holes_df.geometry[h_ind])
/Users/weiqianru/anaconda3/envs/gerry/lib/python3.11/site-packages/maup/smart_repair.py:1594: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  geometries_df["geometry"][this_geom] = unary_union([geometries_df["geometry"][this_geom], piece_to_add])
/Users/weiqianru/anaconda3/envs/gerry/lib/python3.11/site-packages/maup/smart_repair.py:1594: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  geometries_df["geometry"][this_geom] = unary_union([geometries_df["geometry"][this_geom], piece_to_add])
Gaps to simplify: 100%|█████████████████| 3/3 [00:00<00:00,  6.36it/s]
Gaps to fill:   0%|                             | 0/1 [00:00<?, ?it/s]/Users/weiqianru/anaconda3/envs/gerry/lib/python3.11/site-packages/maup/smart_repair.py:1207: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  holes_df.geometry[h_ind] = orient(holes_df.geometry[h_ind])
/Users/weiqianru/anaconda3/envs/gerry/lib/python3.11/site-packages/maup/smart_repair.py:676: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  geometries_df["geometry"][g_ind] = unary_union([geometries_df["geometry"][g_ind], this_segment_poly_to_add])
Gaps to fill: 100%|█████████████████████| 1/1 [00:00<00:00,  6.30it/s]
100%|████████████████████████████| 2662/2662 [00:03<00:00, 703.84it/s]

True

In [14]:
# checking the columns in the congressional map datasets
columns = ['OBJECTID', 'District_A', 'Shape_Leng', 'Shape_Area']
print(cong22_df[columns])
print("Number of different values from columns OBJECTID and District_A:", sum(cong22_df["OBJECTID"] != cong22_df["District_A"]))
print(cong22_df.dtypes)

    OBJECTID  District_A  Shape_Leng  Shape_Area
0          1           1    8.604113    2.192938
1          2           2    2.291793    0.131161
2          3           3   13.787605    2.928661
3          4           4    3.876041    0.541862
4          5           5    8.304280    1.184265
5          6           6    3.756372    0.453029
6          7           7    7.154692    1.418553
7          8           8    6.129734    0.961893
8          9           9    6.306343    0.945467
9         10          10    5.371365    0.772889
10        11          11    8.209277    1.601310
11        12          12    2.027560    0.118205
12        13          13    4.557561    0.475952
13        14          14    2.599615    0.125985
Number of different values from columns OBJECTID and District_A: 0
OBJECTID         int64
District_A       int32
Shape_Leng     float64
Shape_Area     float64
geometry      geometry
dtype: object

In [15]:
columns23 = ['DISTRICT', 'PL20AA_TOT', 'geometry']
print(cong23_df[columns23])
print(cong23_df.dtypes)
# Convert the datatype to int
cong23_df['DISTRICT'] = cong23_df['DISTRICT'].astype(int)
print(cong23_df.dtypes)

   DISTRICT  PL20AA_TOT                                           geometry
0         1      745670  POLYGON ((905355.004 281686.885, 901742.905 28...
1        10      745670  POLYGON ((395888.414 226383.013, 395922.249 22...
2        11      745670  POLYGON ((304252.990 165004.799, 304247.069 16...
3        12      745670  POLYGON ((447279.463 154364.037, 447275.406 15...
4        13      745670  POLYGON ((654887.670 269155.323, 654905.776 26...
5        14      745671  POLYGON ((445363.010 144546.673, 445363.880 14...
6         2      745670  POLYGON ((667905.007 230988.282, 668081.723 23...
7         3      745671  POLYGON ((905355.004 281686.885, 907792.822 27...
8         4      745671  POLYGON ((608690.668 226229.264, 608370.940 22...
9         5      745671  POLYGON ((356422.214 248959.425, 356425.913 24...
10        6      745671  POLYGON ((506669.938 278879.654, 506675.688 27...
11        7      745671  POLYGON ((690746.724 108164.428, 690757.715 10...
12        8      745671  POLYGON ((599592.486 64450.932, 599044.660 650...
13        9      745671  POLYGON ((531641.020 277879.208, 531653.177 27...
DISTRICT        object
PL20AA_TOT       int64
geometry      geometry
dtype: object
DISTRICT         int64
PL20AA_TOT       int64
geometry      geometry
dtype: object

### Select columns to set up the district column name

In [16]:
# Use "OBJECTED" as the district column name for 2022 map
district22_col_name = "OBJECTID"
# Use "DISTRICT" as the district column name for 2023 map
district23_col_name = "DISTRICT"

### Convert crs values in all the dataset to the same

In [17]:
print("population_df crs:", population_df.crs)
print("vap_df crs:", vap_df.crs)
print("election_df crs:", election_df.crs)
print("cong22_df crs:", cong22_df.crs)
print("cong23_df crs", cong23_df.crs)

population_df crs: EPSG:4269
vap_df crs: EPSG:4269
election_df crs: EPSG:2264
cong22_df crs: EPSG:4269
cong23_df crs EPSG:32119

In [18]:
election_df = election_df.to_crs(4269)
cong23_df = cong23_df.to_crs(4269)
print("population_df crs:", population_df.crs)
print("vap_df crs:", vap_df.crs)
print("election_df crs:", election_df.crs)
print("cong22_df crs:", cong22_df.crs)
print("cong23_df crs", cong23_df.crs)

population_df crs: EPSG:4269
vap_df crs: EPSG:4269
election_df crs: EPSG:4269
cong22_df crs: EPSG:4269
cong23_df crs EPSG:4269

## Put data into same geometry units

In [19]:
# Now put data into same geometry units
blocks_to_precincts_assignment = maup.assign(population_df.geometry, election_df.geometry)
vap_blocks_to_precincts_assignment = maup.assign(vap_df.geometry, election_df.geometry)

pop_column_names = ['P0020001', 'P0020002', 'P0020005', 'P0020006', 'P0020007',
                    'P0020008', 'P0020009', 'P0020010', 'P0020011']

vap_column_names = ['P0040001', 'P0040002', 'P0040005', 'P0040006', 'P0040007',
                    'P0040008', 'P0040009', 'P0040010', 'P0040011']

100%|████████████████████████████| 2662/2662 [00:04<00:00, 595.96it/s]
100%|████████████████████████████| 2662/2662 [00:21<00:00, 126.11it/s]
/Users/weiqianru/anaconda3/envs/gerry/lib/python3.11/site-packages/maup/intersections.py:47: UserWarning: Geometry is in a geographic CRS. Results from 'area' are likely incorrect. Use 'GeoSeries.to_crs()' to re-project geometries to a projected CRS before this operation.

  df = df[df.area > area_cutoff].reset_index(drop=True)
/Users/weiqianru/anaconda3/envs/gerry/lib/python3.11/site-packages/maup/intersections.py:48: UserWarning: Geometry is in a geographic CRS. Results from 'area' are likely incorrect. Use 'GeoSeries.to_crs()' to re-project geometries to a projected CRS before this operation.

  geometries = geometries[geometries.area > area_cutoff]
/Users/weiqianru/anaconda3/envs/gerry/lib/python3.11/site-packages/maup/assign.py:38: UserWarning: Geometry is in a geographic CRS. Results from 'area' are likely incorrect. Use 'GeoSeries.to_crs()' to re-project geometries to a projected CRS before this operation.

  return assign_to_max(intersections(sources, targets, area_cutoff=0).area)
100%|████████████████████████████| 2662/2662 [00:04<00:00, 622.99it/s]
100%|████████████████████████████| 2662/2662 [00:20<00:00, 132.83it/s]
/Users/weiqianru/anaconda3/envs/gerry/lib/python3.11/site-packages/maup/intersections.py:47: UserWarning: Geometry is in a geographic CRS. Results from 'area' are likely incorrect. Use 'GeoSeries.to_crs()' to re-project geometries to a projected CRS before this operation.

  df = df[df.area > area_cutoff].reset_index(drop=True)
/Users/weiqianru/anaconda3/envs/gerry/lib/python3.11/site-packages/maup/intersections.py:48: UserWarning: Geometry is in a geographic CRS. Results from 'area' are likely incorrect. Use 'GeoSeries.to_crs()' to re-project geometries to a projected CRS before this operation.

  geometries = geometries[geometries.area > area_cutoff]
/Users/weiqianru/anaconda3/envs/gerry/lib/python3.11/site-packages/maup/assign.py:38: UserWarning: Geometry is in a geographic CRS. Results from 'area' are likely incorrect. Use 'GeoSeries.to_crs()' to re-project geometries to a projected CRS before this operation.

  return assign_to_max(intersections(sources, targets, area_cutoff=0).area)

In [20]:
# Now we will put all of the population columns into the election dataframe
for name in pop_column_names:
    election_df[name] = population_df[name].groupby(blocks_to_precincts_assignment).sum()
for name in vap_column_names:
    election_df[name] = vap_df[name].groupby(vap_blocks_to_precincts_assignment).sum()

print(population_df['P0020001'].sum())
print(election_df['P0020001'].sum())
print(vap_df['P0040001'].sum())
print(election_df['P0040001'].sum())

10439388
10439388.0
8155099
8155099.0

In [21]:
print(maup.doctor(election_df))

100%|████████████████████████████| 2662/2662 [00:03<00:00, 742.52it/s]
/Users/weiqianru/anaconda3/envs/gerry/lib/python3.11/site-packages/maup/repair.py:331: UserWarning: Geometry is in a geographic CRS. Results from 'area' are likely incorrect. Use 'GeoSeries.to_crs()' to re-project geometries to a projected CRS before this operation.

  overlaps = inters[inters.area > 0].make_valid()

True

In [22]:
precincts_to_districts_assignment_22 = maup.assign(election_df.geometry, cong22_df.geometry)
precincts_to_districts_assignment_23 = maup.assign(election_df.geometry, cong23_df.geometry)
election_df["CD22"] = precincts_to_districts_assignment_22
election_df["CD23"] = precincts_to_districts_assignment_23

100%|████████████████████████████████| 14/14 [00:00<00:00, 142.18it/s]
100%|█████████████████████████████████| 14/14 [00:01<00:00, 11.66it/s]
/Users/weiqianru/anaconda3/envs/gerry/lib/python3.11/site-packages/maup/intersections.py:47: UserWarning: Geometry is in a geographic CRS. Results from 'area' are likely incorrect. Use 'GeoSeries.to_crs()' to re-project geometries to a projected CRS before this operation.

  df = df[df.area > area_cutoff].reset_index(drop=True)
/Users/weiqianru/anaconda3/envs/gerry/lib/python3.11/site-packages/maup/intersections.py:48: UserWarning: Geometry is in a geographic CRS. Results from 'area' are likely incorrect. Use 'GeoSeries.to_crs()' to re-project geometries to a projected CRS before this operation.

  geometries = geometries[geometries.area > area_cutoff]
/Users/weiqianru/anaconda3/envs/gerry/lib/python3.11/site-packages/maup/assign.py:38: UserWarning: Geometry is in a geographic CRS. Results from 'area' are likely incorrect. Use 'GeoSeries.to_crs()' to re-project geometries to a projected CRS before this operation.

  return assign_to_max(intersections(sources, targets, area_cutoff=0).area)
100%|████████████████████████████████| 14/14 [00:00<00:00, 123.32it/s]
100%|█████████████████████████████████| 14/14 [00:01<00:00,  9.05it/s]
/Users/weiqianru/anaconda3/envs/gerry/lib/python3.11/site-packages/maup/intersections.py:47: UserWarning: Geometry is in a geographic CRS. Results from 'area' are likely incorrect. Use 'GeoSeries.to_crs()' to re-project geometries to a projected CRS before this operation.

  df = df[df.area > area_cutoff].reset_index(drop=True)
/Users/weiqianru/anaconda3/envs/gerry/lib/python3.11/site-packages/maup/intersections.py:48: UserWarning: Geometry is in a geographic CRS. Results from 'area' are likely incorrect. Use 'GeoSeries.to_crs()' to re-project geometries to a projected CRS before this operation.

  geometries = geometries[geometries.area > area_cutoff]
/Users/weiqianru/anaconda3/envs/gerry/lib/python3.11/site-packages/maup/assign.py:38: UserWarning: Geometry is in a geographic CRS. Results from 'area' are likely incorrect. Use 'GeoSeries.to_crs()' to re-project geometries to a projected CRS before this operation.

  return assign_to_max(intersections(sources, targets, area_cutoff=0).area)

In [23]:
print(set(election_df["CD22"]))
for precinct_index in range(len(election_df)):
    election_df.at[precinct_index, "CD22"] = cong22_df.at[election_df.at[precinct_index, "CD22"], district22_col_name]
print(set(cong22_df[district22_col_name]))
print(set(election_df["CD22"]))

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14}

In [24]:
print(set(election_df["CD23"]))
for precinct_index in range(len(election_df)):
    election_df.at[precinct_index, "CD23"] = cong23_df.at[election_df.at[precinct_index, "CD23"], district23_col_name]
print(set(cong23_df[district23_col_name]))
print(set(election_df["CD23"]))

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14}

In [25]:
election_df

,PREC_ID,ENR_DESC,COUNTY_NAM,COUNTY_ID,G20PRERTRU,G20PREDBID,G20PRELJOR,G20PREGHAW,G20PRECBLA,G20PREOWRI,...,P0040002,P0040005,P0040006,P0040007,P0040008,P0040009,P0040010,P0040011,CD22,CD23
0,01,PATTERSON,ALAMANCE,1,2299,566,27,6,5,4,...,167.0,3544.0,219.0,12.0,7.0,0.0,8.0,109.0,4,9
1,02,COBLE,ALAMANCE,1,2387,559,15,4,4,3,...,112.0,3406.0,115.0,16.0,11.0,4.0,10.0,92.0,4,9
2,07,ALBRIGHT,ALAMANCE,1,1996,581,20,9,1,4,...,179.0,2967.0,192.0,8.0,18.0,0.0,10.0,101.0,4,9
3,H08,H08,GUILFORD,41,73,614,3,1,2,2,...,177.0,204.0,1202.0,0.0,60.0,0.0,18.0,53.0,6,6
4,079,079,MECKLENBURG,60,469,1223,8,9,2,6,...,659.0,669.0,1242.0,13.0,336.0,2.0,11.0,96.0,14,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2657,01-07A,01-07A,WAKE,92,44,194,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,2
2658,07-03,07-03,WAKE,92,541,934,23,3,4,6,...,63.0,1336.0,109.0,5.0,36.0,0.0,6.0,36.0,2,2
2659,07-07,07-07,WAKE,92,1225,2102,43,9,1,17,...,266.0,3854.0,485.0,6.0,131.0,0.0,22.0,146.0,2,2
2660,07-07A,07-07A,WAKE,92,182,335,1,1,0,2,...,2.0,11.0,0.0,0.0,0.0,0.0,0.0,1.0,2,2
2661,07-11,07-11,WAKE,92,416,655,11,2,8,9,...,33.0,1072.0,26.0,1.0,26.0,0.0,6.0,26.0,2,2

## Rename column names

In [26]:
election_df.columns

Index(['PREC_ID', 'ENR_DESC', 'COUNTY_NAM', 'COUNTY_ID', 'G20PRERTRU',
       'G20PREDBID', 'G20PRELJOR', 'G20PREGHAW', 'G20PRECBLA', 'G20PREOWRI',
       'G20USSRTIL', 'G20USSDCUN', 'G20USSLBRA', 'G20USSCHAY', 'G20GOVRFOR',
       'G20GOVDCOO', 'G20GOVLDIF', 'G20GOVCPIS', 'G20LTGRROB', 'G20LTGDHOL',
       'G20ATGRONE', 'G20ATGDSTE', 'G20TRERFOL', 'G20TREDCHA', 'G20SOSRSYK',
       'G20SOSDMAR', 'G20AUDRSTR', 'G20AUDDWOO', 'G20AGRRTRO', 'G20AGRDWAD',
       'G20INSRCAU', 'G20INSDGOO', 'G20LABRDOB', 'G20LABDHOL', 'G20SPIRTRU',
       'G20SPIDMAN', 'G20SSCRNEW', 'G20SSCDBEA', 'G20SSCRBER', 'G20SSCDINM',
       'G20SSCRBAR', 'G20SSCDDAV', 'G20SACRWOO', 'G20SACDSHI', 'G20SACRGOR',
       'G20SACDCUB', 'G20SACRDIL', 'G20SACDSTY', 'G20SACRCAR', 'G20SACDYOU',
       'G20SACRGRI', 'G20SACDBRO', 'geometry', 'P0020001', 'P0020002',
       'P0020005', 'P0020006', 'P0020007', 'P0020008', 'P0020009', 'P0020010',
       'P0020011', 'P0040001', 'P0040002', 'P0040005', 'P0040006', 'P0040007',
       'P0040008', 'P0040009', 'P0040010', 'P0040011', 'CD22', 'CD23'],
      dtype='object')

Elections added to the shape file:      
ATG - Attorney General     
AUD - Auditor    
LTG - Lieutenant Governor    
PRE - President    
SOS - Secretary of State    
TRE - Treasurer    
USS - U.S. Senate

In [27]:
rename_dict = {'P0020001': 'TOTPOP', 'P0020002': 'HISP', 'P0020005': 'NH_WHITE', 'P0020006': 'NH_BLACK', 'P0020007': 'NH_AMIN',
                    'P0020008': 'NH_ASIAN', 'P0020009': 'NH_NHPI', 'P0020010': 'NH_OTHER', 'P0020011': 'NH_2MORE',
                    'P0040001': 'VAP', 'P0040002': 'HVAP', 'P0040005': 'WVAP', 'P0040006': 'BVAP', 'P0040007': 'AMINVAP',
                                        'P0040008': 'ASIANVAP', 'P0040009': 'NHPIVAP', 'P0040010': 'OTHERVAP', 'P0040011': '2MOREVAP',
                                        'G20PREDBID': 'G20PRED', 'G20PRERTRU': 'G20PRER', 'G20USSRTIL': 'G20USSR',
                                        'G20USSDCUN': 'G20USSD', 'G20GOVRFOR': 'G20GOVR', 'G20GOVDCOO': 'G20GOVD',
               'G20LTGRROB': 'G20LTGR', 'G20LTGDHOL': 'G20LTGD', 'G20ATGRONE': 'G20ATGR', 'G20ATGDSTE': 'G20ATGD',
               'G20TRERFOL': 'G20TRER', 'G20TREDCHA': 'G20TRED', 'G20SOSRSYK': 'G20SOSR', 'G20SOSDMAR': 'G20SOSD',
               'G20AUDRSTR': 'G20AUDR', 'G20AUDDWOO': 'G20AUDD'}

In [28]:
election_df.rename(columns=rename_dict, inplace = True)
election_df.drop(columns=['G20PRELJOR', 'G20PREGHAW', 'G20PRECBLA', 'G20PREOWRI', 'G20USSLBRA', 'G20USSCHAY',
                               'G20GOVLDIF', 'G20GOVCPIS', 'G20AGRRTRO', 'G20AGRDWAD',
       'G20INSRCAU', 'G20INSDGOO', 'G20LABRDOB', 'G20LABDHOL', 'G20SPIRTRU',
       'G20SPIDMAN', 'G20SSCRNEW', 'G20SSCDBEA', 'G20SSCRBER', 'G20SSCDINM',
       'G20SSCRBAR', 'G20SSCDDAV', 'G20SACRWOO', 'G20SACDSHI', 'G20SACRGOR',
       'G20SACDCUB', 'G20SACRDIL', 'G20SACDSTY', 'G20SACRCAR', 'G20SACDYOU',
       'G20SACRGRI', 'G20SACDBRO'], inplace=True)

In [29]:
election_df.columns

Index(['PREC_ID', 'ENR_DESC', 'COUNTY_NAM', 'COUNTY_ID', 'G20PRER', 'G20PRED',
       'G20USSR', 'G20USSD', 'G20GOVR', 'G20GOVD', 'G20LTGR', 'G20LTGD',
       'G20ATGR', 'G20ATGD', 'G20TRER', 'G20TRED', 'G20SOSR', 'G20SOSD',
       'G20AUDR', 'G20AUDD', 'geometry', 'TOTPOP', 'HISP', 'NH_WHITE',
       'NH_BLACK', 'NH_AMIN', 'NH_ASIAN', 'NH_NHPI', 'NH_OTHER', 'NH_2MORE',
       'VAP', 'HVAP', 'WVAP', 'BVAP', 'AMINVAP', 'ASIANVAP', 'NHPIVAP',
       'OTHERVAP', '2MOREVAP', 'CD22', 'CD23'],
      dtype='object')

In [30]:
print(election_df.loc[election_df["CD22"] == 1, "TOTPOP"].sum())
print(election_df.loc[election_df["CD22"] == 2, "TOTPOP"].sum())
pop_vals = [election_df.loc[election_df["CD22"] == n, "TOTPOP"].sum() for n in range(1, 15)]
print(pop_vals)

745599.0
746208.0
[745599.0, 746208.0, 745842.0, 745033.0, 747128.0, 746272.0, 746762.0, 745863.0, 742227.0, 744646.0, 745420.0, 747666.0, 745380.0, 745342.0]

In [31]:
print(election_df.loc[election_df["CD23"] == 1, "TOTPOP"].sum())
print(election_df.loc[election_df["CD23"] == 2, "TOTPOP"].sum())
pop_vals = [election_df.loc[election_df["CD23"] == n, "TOTPOP"].sum() for n in range(1, 15)]
print(pop_vals)

744418.0
749381.0
[744418.0, 749381.0, 744917.0, 750614.0, 742979.0, 747062.0, 745872.0, 744281.0, 743116.0, 746136.0, 746122.0, 745685.0, 741948.0, 746857.0]

## Handle the NAN values

No NAN value appear in the raw data, but NAN values appeared in one precinct in the final election dataset

In [32]:
population_df[vap_df.isnull().any(axis=1)]

Empty GeoDataFrame
Columns: [GEOID20, SUMLEV, LOGRECNO, GEOID, COUNTY, P0020001, P0020002, P0020003, P0020004, P0020005, P0020006, P0020007, P0020008, P0020009, P0020010, P0020011, P0020012, P0020013, P0020014, P0020015, P0020016, P0020017, P0020018, P0020019, P0020020, P0020021, P0020022, P0020023, P0020024, P0020025, P0020026, P0020027, P0020028, P0020029, P0020030, P0020031, P0020032, P0020033, P0020034, P0020035, P0020036, P0020037, P0020038, P0020039, P0020040, P0020041, P0020042, P0020043, P0020044, P0020045, P0020046, P0020047, P0020048, P0020049, P0020050, P0020051, P0020052, P0020053, P0020054, P0020055, P0020056, P0020057, P0020058, P0020059, P0020060, P0020061, P0020062, P0020063, P0020064, P0020065, P0020066, P0020067, P0020068, P0020069, P0020070, P0020071, P0020072, P0020073, geometry]
Index: []

[0 rows x 79 columns]

In [33]:
vap_df[vap_df.isnull().any(axis=1)]

Empty GeoDataFrame
Columns: [GEOID20, SUMLEV, LOGRECNO, GEOID, COUNTY, P0040001, P0040002, P0040003, P0040004, P0040005, P0040006, P0040007, P0040008, P0040009, P0040010, P0040011, P0040012, P0040013, P0040014, P0040015, P0040016, P0040017, P0040018, P0040019, P0040020, P0040021, P0040022, P0040023, P0040024, P0040025, P0040026, P0040027, P0040028, P0040029, P0040030, P0040031, P0040032, P0040033, P0040034, P0040035, P0040036, P0040037, P0040038, P0040039, P0040040, P0040041, P0040042, P0040043, P0040044, P0040045, P0040046, P0040047, P0040048, P0040049, P0040050, P0040051, P0040052, P0040053, P0040054, P0040055, P0040056, P0040057, P0040058, P0040059, P0040060, P0040061, P0040062, P0040063, P0040064, P0040065, P0040066, P0040067, P0040068, P0040069, P0040070, P0040071, P0040072, P0040073, geometry]
Index: []

[0 rows x 79 columns]

In [34]:
election_df[election_df.isnull().any(axis=1)]

,PREC_ID,ENR_DESC,COUNTY_NAM,COUNTY_ID,G20PRER,G20PRED,G20USSR,G20USSD,G20GOVR,G20GOVD,...,HVAP,WVAP,BVAP,AMINVAP,ASIANVAP,NHPIVAP,OTHERVAP,2MOREVAP,CD22,CD23
2657,01-07A,01-07A,WAKE,92,44,194,38,187,34,199,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,2

Population Sum values before and after combining mached

In [35]:
population_df[['P0020001', 'P0020002', 'P0020005', 'P0020006', 'P0020007',
                    'P0020008', 'P0020009', 'P0020010', 'P0020011']].sum()

P0020001    10439388
P0020002     1118596
P0020005     6312148
P0020006     2107526
P0020007      100886
P0020008      340059
P0020009        6980
P0020010       46340
P0020011      406853
dtype: int64

In [36]:
vap_df[['P0040001', 'P0040002', 'P0040005', 'P0040006', 'P0040007',
                    'P0040008', 'P0040009', 'P0040010', 'P0040011']].sum()

P0040001    8155099
P0040002     724311
P0040005    5189633
P0040006    1620569
P0040007      77335
P0040008     257602
P0040009       5144
P0040010      30113
P0040011     250392
dtype: int64

In [37]:
election_df[['TOTPOP', 'HISP', 'NH_WHITE', 'NH_BLACK', 'NH_AMIN', 'NH_ASIAN', 'NH_NHPI', 'NH_OTHER', 'NH_2MORE',
                    'VAP', 'HVAP', 'WVAP', 'BVAP', 'AMINVAP', 'ASIANVAP', 'NHPIVAP', 'OTHERVAP', '2MOREVAP']].sum()

TOTPOP      10439388.0
HISP         1118596.0
NH_WHITE     6312148.0
NH_BLACK     2107526.0
NH_AMIN       100886.0
NH_ASIAN      340059.0
NH_NHPI         6980.0
NH_OTHER       46340.0
NH_2MORE      406853.0
VAP          8155099.0
HVAP          724311.0
WVAP         5189633.0
BVAP         1620569.0
AMINVAP        77335.0
ASIANVAP      257602.0
NHPIVAP         5144.0
OTHERVAP       30113.0
2MOREVAP      250392.0
dtype: float64

Fill NA values with 0

In [38]:
election_df = election_df.fillna(0)
election_df[election_df.isnull().any(axis=1)]

Empty GeoDataFrame
Columns: [PREC_ID, ENR_DESC, COUNTY_NAM, COUNTY_ID, G20PRER, G20PRED, G20USSR, G20USSD, G20GOVR, G20GOVD, G20LTGR, G20LTGD, G20ATGR, G20ATGD, G20TRER, G20TRED, G20SOSR, G20SOSD, G20AUDR, G20AUDD, geometry, TOTPOP, HISP, NH_WHITE, NH_BLACK, NH_AMIN, NH_ASIAN, NH_NHPI, NH_OTHER, NH_2MORE, VAP, HVAP, WVAP, BVAP, AMINVAP, ASIANVAP, NHPIVAP, OTHERVAP, 2MOREVAP, CD22, CD23]
Index: []

[0 rows x 41 columns]

The precinct 01-07A is a very small precinct, which likely to be a voting address, but no residents.    
https://s3.us-west-1.amazonaws.com/wakegov.com.if-us-west-1/documents/2021-04/Precinct_01-07A.pdf

In [39]:
election_df

,PREC_ID,ENR_DESC,COUNTY_NAM,COUNTY_ID,G20PRER,G20PRED,G20USSR,G20USSD,G20GOVR,G20GOVD,...,HVAP,WVAP,BVAP,AMINVAP,ASIANVAP,NHPIVAP,OTHERVAP,2MOREVAP,CD22,CD23
0,01,PATTERSON,ALAMANCE,1,2299,566,2205,564,2209,661,...,167.0,3544.0,219.0,12.0,7.0,0.0,8.0,109.0,4,9
1,02,COBLE,ALAMANCE,1,2387,559,2290,570,2264,677,...,112.0,3406.0,115.0,16.0,11.0,4.0,10.0,92.0,4,9
2,07,ALBRIGHT,ALAMANCE,1,1996,581,1917,588,1936,644,...,179.0,2967.0,192.0,8.0,18.0,0.0,10.0,101.0,4,9
3,H08,H08,GUILFORD,41,73,614,70,595,63,621,...,177.0,204.0,1202.0,0.0,60.0,0.0,18.0,53.0,6,6
4,079,079,MECKLENBURG,60,469,1223,418,1190,418,1250,...,659.0,669.0,1242.0,13.0,336.0,2.0,11.0,96.0,14,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2657,01-07A,01-07A,WAKE,92,44,194,38,187,34,199,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2,2
2658,07-03,07-03,WAKE,92,541,934,578,874,497,991,...,63.0,1336.0,109.0,5.0,36.0,0.0,6.0,36.0,2,2
2659,07-07,07-07,WAKE,92,1225,2102,1308,1920,1150,2186,...,266.0,3854.0,485.0,6.0,131.0,0.0,22.0,146.0,2,2
2660,07-07A,07-07A,WAKE,92,182,335,184,312,142,371,...,2.0,11.0,0.0,0.0,0.0,0.0,0.0,1.0,2,2
2661,07-11,07-11,WAKE,92,416,655,444,600,395,694,...,33.0,1072.0,26.0,1.0,26.0,0.0,6.0,26.0,2,2

In [40]:
election_df.to_file("NC.shp")
shp_file = gpd.read_file('NC.shp')
shp_file.to_file('NC.geojson', driver='GeoJSON')